#container{
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}
#today{
    background-color: #BE9AE3;
}
td{
    border: 1px solid black;
    /* background-color: azure; */
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0;
    /* border-collapse: collapse; */
}
.days{
    border: 1px solid black;
    background-color: #D69AE3;
}
.title{
    font-size:xx-large;
}
  table {
    border-collapse: collapse;
    border-spacing: 2px;
}
tbody{
    background-color:  #9AA6E3;
}
.topRow{
    border: 1px black solid;
    height: 65px;
    text-align: center;
    background-color: #91B8E3;
}
  
